/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Titre */
h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Formulaire */
#technicienForm {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Largeur relative au viewport */
    max-width: 800px; /* Largeur maximale */
    text-align: left;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #1f8fff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0f8bff;
}

/* Liste des techniciens */
#technicienList {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%; /* Largeur relative au viewport */
    max-width: 800px; /* Largeur maximale */
    text-align: left;
    margin-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 24px;
    }

    #technicienForm, #technicienList {
        width: 95%;
        padding: 10px;
    }

    label {
        font-size: 14px;
    }

    input[type="text"], button {
        font-size: 14px;
        padding: 8px;
    }

    button {
        padding: 8px 12px;
    }
}
