/* Global styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #e3f2fd;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    background: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

/* Heading */
h1 {
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 16px;;
}

/* Button group */
.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Button styles */
.btn {
    background-color: #1e88e5;
    color: white;
    border: none;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #1565c0;
    transform: translateY(-2px);
}

/* Add button */
#addButton {
    margin-right: 10px;
}

a.btn {
    display: inline-block;
    padding: 10px 15px;
}

@media (max-width: 500px) {
    .container {
        padding: 20px;
    }

    .btn {
        font-size: 14px;
        padding: 8px 10px;
    }
}
